﻿			<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-fw fa-cogs"></i>
                Data Corrections
            </h1>
        </div>

        <div class="col-sm-12">
            <div class="well well-light">
                <div class="row">
                    <p class="text-left ">Test</p>
                </div>

            </div>
        </div>

    </div>

</div>