﻿@model CloudCentre.Models.ViewModels.ADUserViewModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SamAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamAccountName)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "AdUsers", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
