﻿@model CloudCentre.Models.ViewModels.ADUserViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p class="text-left"><input type="button" class="btn btn-default" id="addPhoneNumber" name="addPhoneNumber" value="Add Phone Number"></p>
        <hr />

        @Html.HiddenFor(model=>model.ID)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostedOrganisationID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.HostedOrganisationID, (IEnumerable<SelectListItem>)ViewBag.AllHostedOrg, "--Select Org--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HostedOrganisationID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.SFBServicePlanID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.SFBServicePlanID, (IEnumerable<SelectListItem>)ViewBag.AllServicePlans, "--Select Plan--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SFBServicePlanID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DynamicsServicePlanID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.DynamicsServicePlanID, (IEnumerable<SelectListItem>)ViewBag.AllServicePlans, "--Select Plan--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DynamicsServicePlanID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SharePointServicePlanID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.SharePointServicePlanID, (IEnumerable<SelectListItem>)ViewBag.AllServicePlans, "--Select Plan--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SharePointServicePlanID, "", new { @class = "text-danger" })
            </div>
        </div>


        @Html.EditorForModel(Model)

        <div class="container col-md-12">
            @if (Model.PhoneNumbers.ToList().Count() == 0)
            {
                <div id="next-PhoneNumber" class="col-md-4">
                </div>

            }

            @foreach (var item in Model.PhoneNumbers)
            {
                <div id="next-PhoneNumber" class="col-md-12">
                    @{Html.RenderPartial("_PhoneNumberPartial", item);}
                </div>
             }

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
