﻿@model IEnumerable<CloudCentre.Models.ViewModels.ADUserViewModel>

@Html.Partial("_ShowMessage")

<h2>AD Users</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.SamAccountName)
        </th>
      
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.SamAccountName)
            </td>
           
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Delete", "ConfirmDelete", new { Id = item.ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
