﻿@model AccountRegistrationModel

<div id="content" class="container text-center">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "smart-form-register", @class = "smart-form client-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()

                    if (Model.HostedOrganisationsID == null)
                     {
                         <header>
                             Registration of user
                         </header>
                     }
                     else
                     {
                         <header>
                             Registration of user for @Model.HostedOrganisationsName
                         </header>
                     }

                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                @Html.EditorFor(model=>model.Username, new { htmlAttributes = new { @placeholder = "Username" , @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">(Optional) Used to display the profile name on the website</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email address", @autocomplete = "off" } })
                               
                                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                @Html.EditorFor(model => model.EmailConfirm, new { htmlAttributes = new { @placeholder = "Confirm email address", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = "Password", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @placeholder = "Confirm password", @autocomplete = "off" } })
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <section class="col col-6">
                                <label class="input">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @placeholder = "First name" } })
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="input">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @placeholder = "Last name" } })
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-6">
                                <label class="select">
                                    @Html.DropDownListFor(model => Model.Gender, (IEnumerable<SelectListItem>) ViewBag.Genders)
                                    <i></i>
                                </label>
                            </section>

                            @if (Model.HostedOrganisationsID == null)
                            {
                                <section class="col col-6">
                                    @Html.DropDownListFor(model => model.HostedOrganisationsID, (IEnumerable<SelectListItem>) ViewBag.AllHostedOrganisations, "--Select Hosted Organisation--", new {@class = "form-control"})  
                                </section>
                            }
                        </div>

                        <div class="row">
                         
                            <section class="col col-6">
                                <label class="select">
                                    @Html.DropDownListFor(model => Model.RoleID, (IEnumerable<SelectListItem>)ViewBag.AllRoles)
                                    <i></i>
                                </label>
                            </section>
                        </div>
                    </fieldset>
                    <footer>
                        @Html.HiddenFor(model => model.HostedOrganisationsID)
                        <button type="submit" class="btn btn-primary">
                            Register
                        </button>
                    </footer>
                    <div class="message">
                        <i class="fa fa-check"></i>
                        <p>
                            Thank you for your registration!
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_TermsAndConditions"); }

@section pagespecific{
    <script type="text/javascript">
        // Model i agree button
        $("#i-agree").click(function () {
            var $this = $("#terms");
            if ($this.checked) {
                $('#myModal').modal('toggle');
            } else {
                $this.prop('checked', true);
                $('#myModal').modal('toggle');
            }
        });

        // Validation
        $(function () {
            // Validation
            $("#smart-form-register").validate({
                // Rules for form validation
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    emailConfirm: {
                        required: true,
                        email: true,
                        equalTo: '#email'
                    },
                    password: {
                        required: true,
                        minlength: 4,
                        maxlength: 20
                    },
                    passwordConfirm: {
                        required: true,
                        minlength: 4,
                        maxlength: 20,
                        equalTo: '#password'
                    },
                    firstname: {
                        required: false
                    },
                    lastname: {
                        required: false
                    },
                    gender: {
                        required: false
                    },
                    terms: {
                        required: true
                    }
                },

                // Messages for form validation
                messages: {
                    email: {
                        required: 'Please enter your email address',
                        email: 'Please enter a VALID email address'
                    },
                    emailConfirm: {
                        required: 'Please enter your email address one more time',
                        email: 'Please enter a VALID email address',
                        equalTo: 'Please enter the same email address as above'
                    },
                    password: {
                        required: 'Please enter your password'
                    },
                    passwordConfirm: {
                        required: 'Please enter your password one more time',
                        equalTo: 'Please enter the same password as above'
                    },
                    terms: {
                        required: 'You must agree with Terms and Conditions'
                    }
                },

                // Do not change code below
                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
        });
    </script>
}