﻿@model CloudCentre.Models.ViewModels.CallTariffItemViewModel


<div class="TariffItemRow col-md-4 pull-left text-center">
@using (Html.BeginCollectionItem("CallTariffItems"))
{
    <div class="form-group inline">

            @Html.EditorFor(model=>model)
            
      
        <a href="#" class="deleteRow btn btn-default text-center">Delete Item</a>
    </div>
    
}
</div>

