﻿@model CloudCentre.Models.ViewModels.CallTariffViewModel
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "CallTarif", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        <div class="">
            @Html.HiddenFor(model=>model.ID)
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
