﻿@model CloudCentre.Models.ViewModels.CallTariffViewModel



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationBootstrap()

    <div class="form-horizontal col-md-12">
        <h2>Create CallTarif</h2>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

             </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

      


        <p class="text-left"><input type="button" class="btn btn-default" id="addTarifItem" name="addTarifItem" value="Add More Call Tarif Items"></p>
        <div id="next-TarifItem" class="col-md-10">
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<div>
  
</div>
