﻿@model CloudCentre.Models.ViewModels.CallTariffViewModel

<h2>Edit CallTarif</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p class="text-left"><input type="button" class="btn btn-default" id="addTarifItem" name="addTarifItem" value="Add More Call Tarif Items"></p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="container col-md-12">

            @if (Model.CallTariffItems.ToList().Count() == 0)
            {
                <div id="next-TarifItem" class="col-md-12 text-center">
                </div>
            }


            @foreach (var item in Model.CallTariffItems)
            {
                <div id="next-TarifItem" class="col-md-12 text-center">
                    @{Html.RenderPartial("_CallTariffItemPartial", item);}
                </div>
            }



        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
