﻿@model IEnumerable<CloudCentre.Models.ViewModels.ServicePlanViewModel>

@Html.Partial("_ShowMessage")

<h2>Service Plans</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { servicePlanId = item.ID }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "ConfirmDelete", new { servicePlanId = item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
