﻿@model CloudCentre.Models.ViewModels.PriceListItemViewModel


<div class="PriceListItemRow col-md-5 pull-left text-center">
    @using (Html.BeginCollectionItem("PriceListItems"))
    {
        <div class="form col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ServicePlanName, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.DropDownListFor(model => model.ServicePlanID, (IEnumerable<SelectListItem>)ViewBag.AllServicePlans, "--Select Service Plans--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ServicePlanID, "", new { @class = "text-danger" })
                    </div>

                <a href="#" class="deletePriceListItemRow btn btn-default text-center">Delete Item</a>
        </div>
    }
</div>

