﻿@model CloudCentre.Models.ViewModels.PriceListViewModel

@{
    ViewBag.Title = "ConfirmDelete";
}

<h2>Confirm Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "PriceList", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        <div class="">
            <input type="submit" value="Delete" class="btn btn-default" /> 
           @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
