﻿@model CloudCentre.Models.ViewModels.PriceListViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <p class="text-left"><input type="button" class="btn btn-default" id="addPriceListItem" name="addPriceListItem" value="Add More Call Price Lists Items"></p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

       
        <div class="container col-md-12">
            @if (Model.PriceListItems.ToList().Count() == 0)
            {
                <div id="next-PriceListItem" class="col-md-12 text-center">
                </div>

            }


            @foreach (var item in Model.PriceListItems)
            {
                <div id="next-PriceListItem" class="col-md-12 text-center">
                    @{Html.RenderPartial("_PriceListItemPartial", item);}
                </div>
            }
        </div>

        <div class="form-group">
            <div class="">
                <input type="submit" value="Save" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
                        }
