﻿@model CloudCentre.Models.PresentationViewModel	
@using CloudCentrePortal
@using CloudCentre.Models
@{
}

@*using models*@

@{if (Model.showItemsForAdmin)
    {
        <a>Menu for Admin Desk</a>
    }
}

@{if (Model.showItemsForServiceDesk)
    {
       <a>Menu for Service Desk</a>
    }
}

@{if (Model.showItemsForCustomer)
    {
        <a>Menu for Customer</a>
    }
}

@{if (Model.showItemsForEndUser)
    {
        <a>Menu for end user</a>
    }
}

@{if (Model.showItemsForPartner)
    {
        <a>Menu for partner</a>
    }
}


@*using helpers  @Html.IsInRole(DefaultRoles.ServiceDesk); *@

<div id="AdminOnly">
    <a>Menu for Admin Desk 2</a>
</div>

<div id="CustomerOnly">
    <a>Menu for Customer 2</a>
</div>

<div id="EndUserOnly">
    <a>Menu for end user 2</a>
</div>

<div id="PartnerOnly">
    <a>Menu for partner 2</a>
</div>

<div id="ServiceDesk">
    <a>Menu for Service Desk 2</a>
</div>

@foreach (var item in Model.data)
{
   <h1>HostedOrganizationName :  @item.Name</h1>
}
<h2>Visible to all</h2>

@*using angular ng-visible with @Html.IsInRole - i'm not an expert but you could do this; *@

                @section pagespecific {
                    <script type="text/javascript">

                        $(document).ready(function () {
                            $('#ServiceDesk').hide();
                            $('#PartnerOnly').hide();
                            $('#EndUserOnly').hide();
                            $('#CustomerOnly').hide();
                            $('#AdminOnly').hide();

                            if(@Html.IsInRole(DefaultRoles.Admin).ToString().ToLower()) 
                            {
                               $('#AdminOnly').show();  //For example
                            }
                        });

                    </script>
                }
