﻿			<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">

        <div class="col-sm-12">

            <div class="well well-light">

                <h1>Professional, <small>4 Plans</small></h1>
                <div class="row">

                  <p>test</p>
                </div>



            </div>

        </div>

    </div>


</div>
<!-- END MAIN CONTENT -->