﻿    <!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

    <!-- User info -->
    @{ Html.RenderPartial("_CurrentUser"); }
    <!-- end user info -->
    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul>
            <li class="@Html.RouteIf("index", "active")">
                <a href="@Url.Action("index", "home")" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
            </li>
            <li class="@Html.RouteIf("organisations", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent">Organisations</span></a>
                <ul>
                    <li class="@Html.RouteIf("partners", "active")">
                        <a href="@Url.Action("Index", "Partner")">Partners</a>
                    </li>
                    <li class="@Html.RouteIf("hostedorganisations", "active")">
                        <a href="@Url.Action("Index", "HostedOrganisation")">Hosted Organisations</a>
                    </li>
                    <li class="@Html.RouteIf("serviceplan", "active")">
                        <a href="@Url.Action("Index", "ServicePlan")">Service Plan</a>
                    </li>
                    <li class="@Html.RouteIf("status", "active")">
                        <a href="@Url.Action("Index", "Status")">Status</a>
                    </li>
                    <li class="@Html.RouteIf("admin", "active")">
                        <a href="@Url.Action("GetUsers", "Admin")">Users</a>
                    </li>
                    <li class="@Html.RouteIf("ADUsers", "active")">
                        <a href="@Url.Action("Index", "AdUsers")">AD Users</a>
                    </li>
                    <li class="@Html.RouteIf("admin", "active")">
                        <a href="@Url.Action("GetRoles", "Admin")">Roles</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("emailandapps", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Email and Apps</span></a>
                <ul>
                    <li class="@Html.RouteIf("microsoftexchange", "active")">
                        <a href="@Url.Action("microsoftexchange", "emailandapps")">Microsoft Exchange</a>
                    </li>
                    <li class="@Html.RouteIf("skypeforbusiness", "active")">
                        <a href="@Url.Action("skypeforbusiness", "emailandapps")">Skype for Business</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftsharepoint", "active")">
                        <a href="@Url.Action("microsoftsharepoint", "emailandapps")">Microsoft SharePoint</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftdynamics", "active")">
                        <a href="@Url.Action("microsoftdynamics", "emailandapps")">Microsoft Dynamics</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("office365", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cloud"></i> <span class="menu-item-parent">Private Cloud</span></a>
                <ul>
                    <li class="@Html.RouteIf("microsoftexchange", "active")">
                        <a href="@Url.Action("microsoftexchange", "office365")">Microsoft Exchange</a>
                    </li>
                    <li class="@Html.RouteIf("skypeforbusiness", "active")">
                        <a href="@Url.Action("skypeforbusiness", "office365")">Skype for Business</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftsharepoint", "active")">
                        <a href="@Url.Action("microsoftsharepoint", "office365")">Microsoft SharePoint</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftdynamics", "active")">
                        <a href="@Url.Action("microsoftdynamics", "office365")">Microsoft Dynamics</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("office365", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Office 365</span></a>
                <ul>
                    <li class="@Html.RouteIf("microsoftexchange", "active")">
                        <a href="@Url.Action("microsoftexchange", "office365")">Microsoft Exchange</a>
                    </li>
                    <li class="@Html.RouteIf("skypeforbusiness", "active")">
                        <a href="@Url.Action("skypeforbusiness", "office365")">Skype for Business</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftsharepoint", "active")">
                        <a href="@Url.Action("microsoftsharepoint", "office365")">Microsoft SharePoint</a>
                    </li>
                    <li class="@Html.RouteIf("microsoftdynamics", "active")">
                        <a href="@Url.Action("microsoftdynamics", "office365")">Microsoft Dynamics</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("phonenumbers", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-phone"></i> <span class="menu-item-parent">Phone Numbers</span></a>
                <ul>
                    <li class="@Html.RouteIf("unassignednumbers", "active")">
                        <a href="@Url.Action("unassignednumbers", "phonenumbers")">Unassigned Numbers</a>
                    </li>
                    <li class="@Html.RouteIf("assignednumbers", "active")">
                        <a href="@Url.Action("assignednumbers", "phonenumbers")">Assigned Numbers</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("reports", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Reports</span></a>
                <ul>
                    <li class="@Html.RouteIf("callreports", "active")">
                        <a href="@Url.Action("callreports", "reports")">Call Reports</a>
                    </li>
                    <li class="@Html.RouteIf("servicesummary", "active")">
                        <a href="@Url.Action("servicesummary", "reports")">Service Summary</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.RouteIf("onebill", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-credit-card"></i> <span class="menu-item-parent">OneBill</span></a>
                <ul>
                    <li class="@Html.RouteIf("partnersummary", "active")">
                        <a href="@Url.Action("partnersummary", "onebill")">Partner Summary</a>
                    </li>
                    <li class="@Html.RouteIf("accountcharges", "active")">
                        <a href="@Url.Action("accountcharges", "onebill")">Account Charges</a>
                    </li>
                    <li class="@Html.RouteIf("invoices", "active")">
                        <a href="@Url.Action("invoices", "onebill")">Invoices</a>
                    </li>
                </ul>
            <li class="@Html.RouteIf("settings", "active")">
                <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Settings</span></a>
                <ul>
                    <li class="@Html.RouteIf("calltarif", "active")">
                        <a href="@Url.Action("Index", "CallTarif")">Call Tarifs</a>
                    </li>
                    <li class="@Html.RouteIf("pricelists", "active")">
                        <a href="@Url.Action("Index", "PriceList")">Price Lists</a>
                    </li>
                    <li class="@Html.RouteIf("datacorrections", "active")">
                        <a href="@Url.Action("datacorrections", "settings")">Data Correction</a>
                    </li>
                </ul>
            </li>
    </nav>
    <span class="minifyme" data-action="minifyMenu">
        <i class="fa fa-arrow-circle-left hit"></i>
    </span>

</aside>
<!-- END NAVIGATION -->