﻿    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Cloud Centre Portal 3.0 <span class="hidden-xs"> - Server Centre Hosting Ltd</span> © 2015</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->