﻿@model CloudCentre.Models.ViewModels.PhoneNumbersViewModel


<div class="PhoneNameRow col-md-5 pull-left text-center">
    <h2>Phone Number</h2>
    @using (Html.BeginCollectionItem("PhoneNumbers"))
    {
        <div class="form col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DisplayNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.DisplayNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.DisplayNumber, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatusID, htmlAttributes: new {@class = "control-label col-md-2"})
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>) ViewBag.AllStatuses, "--Select Status--", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.StatusID, "", new {@class = "text-danger"})
            </div>

            <a href="#" class="deletePhoneNumber btn btn-default text-center">Delete Item</a>
        </div>
    }
</div>


