﻿@model CloudCentre.Models.ViewModels.AppUsersViewModel


<div class="col-md-12">
    <h2 class="text-center">
        Edit Users
     
    </h2>
@using (Html.BeginForm("EditUsers", "Admin", FormMethod.Post, new { @class = "" }))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.RolesName)
            </th>
            <th>
            </th>
        </tr>

        <tr>
            <td>
                @Html.EditorFor(model => model.FirstName)
            </td>
            <td>
                @Html.EditorFor(model => model.LastName)
            </td>
            <td>
                @Html.EditorFor(model => model.UserName)
            </td>
            <td>
                <ul>
                    @foreach (var role in Model.RolesName)
                    {
                        <li style="list-style-type: none;">@role</li>
                    }
                </ul>
            </td>

            <td>
                <ul>
                    @foreach (var roleId in Model.RolesId)
                    {
                        <li style="list-style-type: none;">  @Html.ActionLink("Remove User from this Role", "RemoveUserFromRole", new { roleId = roleId, userId = Model.Id }, new { @class = "btn btn-default btn-xs" })</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-default text-center">
        Edit User
    </button>
}

@using (Html.BeginForm("AddUserToRole", "Admin", FormMethod.Post, new { @class = "" }))
{
    <div class="">
        <h2 class="text-center">Add User To Role</h2>
        <div class="col-md-3">
            @Html.HiddenFor(model => model.Id)
            @Html.DropDownListFor(model => model.NewRole, (IEnumerable<SelectListItem>)ViewBag.AllRoles, new { @class = "form-control col-md-6" })
        </div>
        <button type="submit" class="btn btn-default col-md-3 pull-left">
            Assign User to selected role
        </button>
        <div class="col-md-3 pull-left">
            @Html.ActionLink("Back to List", "GetRoles", null, new { @class = "btn btn-default" })
        </div>
    </div>
                    
}
</div>

