﻿@model IEnumerable<CloudCentre.Models.ViewModels.AppRolesViewModel>

@Html.Partial("_ShowMessage")

<h2 class="text-center">Admin Roles</h2>

<p class="text-center">
    @Html.ActionLink("Create New", "AddRoles",null,  new { @class = "btn btn-default" })
</p>
<div class="col-md-4 text-center">
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRoles", new { id = item.Id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Delete", "DeleteRoles", new { id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }


    </table>
</div>
