﻿@model IEnumerable<CloudCentre.Models.ViewModels.AppUsersViewModel>

@Html.Partial("_ShowMessage")

<h2 class="text-center">Site Users</h2>

<div class="col-md-4">
    <p class="text-center">
        @Html.ActionLink("Create New", "Register", "Account" , null, new { @class = "btn btn-default" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostedOrganisationName)
            </th>
            <th>User Role</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostedOrganisationName)
                </td>
                <td>
                    @foreach (var role in @item.RolesName)
                    {
                        <a>@role</a>

                    }

                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteUser", new {id = item.Id}, new {@class = "btn btn-default"})

                </td>

                <td>
                    @Html.ActionLink("Edit", "EditUsers", new { id = item.Id }, new { @class = "btn btn-default" })
                  
                </td>

                <td>
                    @Html.ActionLink("Reset Password", "ForgotPassword", "Account", new { userId = item.Id }, new { @class = "btn btn-default" })

                </td>

            
            </tr>
        }

    </table>
</div>