﻿@model CloudCentre.Models.ViewModels.StatusViewModel

<h2>Confirm Delete Status</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
@using (Html.BeginForm("Delete", "Status"))
{
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>

  
        @Html.AntiForgeryToken()
        @Html.ValidationBootstrap()
        @Html.HiddenFor(model=>model.Id)

        <div class="form-grup col-md-2">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
