﻿@model IEnumerable<CloudCentre.Models.ViewModels.StatusViewModel>

@Html.Partial("_ShowMessage")

<h2>Statuses</h2>

@Html.ValidationSummary()
@Html.ValidationBootstrap()

<p>
    @Html.ActionLink("Create New", "Create", null , new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { StatusId = item.Id }, new { @class = "btn btn-default" }) 
            @Html.ActionLink("Delete", "ConfirmDelete", new { StatusId = item.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
