﻿@model CloudCentre.Models.ViewModels.DomainNameViewModel


<div class="DomainNameRow col-md-5 pull-left text-center">
    @using (Html.BeginCollectionItem("DomainNames"))
    {
        <h2>Domain Name</h2>
        <div class="form col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DomainName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.DomainName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DomainName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ExchangeEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.ExchangeEnabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExchangeEnabled, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SFBEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.SFBEnabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SFBEnabled, "", new { @class = "text-danger" })
            </div>

            <a href="#" class="deleteDomainRow btn btn-default text-center">Delete Item</a>
        </div>
    }
</div>


