﻿@model CloudCentre.Models.ViewModels.HostedOrganisationViewModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationBootstrap()

    <div class="form-horizontal col-md-12">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PartnerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.PartnerID, (IEnumerable<SelectListItem>)ViewBag.AllPartners, "--Select Partner--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PartnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.OU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DynamicsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DynamicsEnabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DynamicsEnabled, "", new { @class = "text-danger" })

               

            </div>
        </div>

        <p class="text-left"><input type="button" class="btn btn-default" id="addDomainName" name="addDomainName" value="Add Domain Name"></p>
        <div id="next-DomainName" class="col-md-12 pull-right">
        </div>


        <p class="text-left"><input type="button" class="btn btn-default" id="addPhoneNumber" name="addPhoneNumber" value="Add Phone Number"></p>
        <div id="next-PhoneNumber" class="col-md-12 pull-right">
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

