﻿@model CloudCentre.Models.ViewModels.HostedOrganisationViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p class="text-left"><input type="button" class="btn btn-default" id="addDomainName" name="addDomainName" value="Add Domain Name"></p>
        <p class="text-left"><input type="button" class="btn btn-default" id="addPhoneNumber" name="addPhoneNumber" value="Add Phone Number"></p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.PartnerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PartnerID, (IEnumerable<SelectListItem>)ViewBag.AllPartners, "--Select Partner--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PartnerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OU, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusID, (IEnumerable<SelectListItem>)ViewBag.AllStatuses, "--Select Status--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DynamicsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DynamicsEnabled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DynamicsEnabled, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="container col-md-12">
            @if (Model.DomainNames.ToList().Count() == 0)
            {
                <div id="next-DomainName" class="col-md-4">
                </div>

            }

            @foreach (var item in Model.DomainNames)
            {
                <div id="next-DomainName" class="col-md-12">
                    @{Html.RenderPartial("_DomainNamesPartial", item);}
                </div>
            }

        </div>


        <div class="container col-md-12">
            @if (Model.PhoneNumbers.ToList().Count() == 0)
            {
                <div id="next-PhoneNumber" class="col-md-4">
                </div>

            }

            @foreach (var item in Model.PhoneNumbers)
            {
                <div id="next-PhoneNumber" class="col-md-12">
                    @{Html.RenderPartial("_PhoneNumberPartial", item);}
                </div>
                        }

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
