﻿@model IEnumerable<CloudCentre.Models.ViewModels.HostedOrganisationViewModel>

@Html.Partial("_ShowMessage")

<h2>Hosted Organisations</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OU)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DynamicsEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OU)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DynamicsEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { Id = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "ConfirmDelete", new { Id = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Add User", "Register", "Account", new { Id = item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
