﻿			<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-fw fa-tasks"></i>
                Microsoft SharePoint
            </h1>
        </div>
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> SharePoint Enabled Users <span class="txt-color-blue">56</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>

            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
        <div class="col-sm-12">
            <div class="well well-light">
                <div class="row">
                    <p class="text-left ">Test</p>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- END MAIN CONTENT -->

<script type="text/javascript" src="/scripts/plugin/dygraphs/demo-data.min.js"></script>

@section pagespecific {
    <script type="text/javascript">

    $(document).ready(function () {
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();

        /*
         * PAGE RELATED SCRIPTS
         */

        g1 = new Dygraph(document.getElementById("noroll"), data_temp, {
            customBars: true,
            title: 'Daily Temperatures in New York vs. San Francisco',
            ylabel: 'Temperature (F)',
            legend: 'always',
            labelsDivStyles: {
                'textAlign': 'right'
            },
            showRangeSelector: true
        });

        g2 = new Dygraph(document.getElementById("roll14"), data_temp, {
            rollPeriod: 14,
            showRoller: true,
            customBars: true,
            ylabel: 'Temperature (F)',
            legend: 'always',
            labelsDivStyles: {
                'textAlign': 'right'
            },
            showRangeSelector: true,
            rangeSelectorHeight: 30,
            rangeSelectorPlotStrokeColor: 'yellow',
            rangeSelectorPlotFillColor: 'lightyellow'
        });

    })
</script>
    }