﻿@model CloudCentre.Models.ViewModels.PartnerViewModel

<h2>ConfirmDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PartnerViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Partner", FormMethod.Post)) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.ID)
        <div class="">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
