﻿@model IEnumerable<CloudCentre.Models.ViewModels.PartnerViewModel>

@Html.Partial("_ShowMessage")

<h2>Partners</h2>

@Html.ValidationSummary()
@Html.ValidationBootstrap()

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceListName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallTariffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceListName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallTariffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { partnerId = item.ID }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "ConfirmDelete", new { partnerId = item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}

</table>
