﻿			<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <!-- PAGE HEADER -->
                <i class="fa fa-fw fa-phone"></i>
                Unassigned Numbers
            </h1>
        </div>
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> Unassigned Numbers <span class="txt-color-blue">236</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>

            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
        <div class="col-sm-12">
            <div class="well well-light">
                <div class="row">
                    <p class="text-left ">Test</p>
                </div>

            </div>
        </div>

    </div>

</div>